html,
body {
  min-width: 1200px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
  background-color: #ffffff;
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: block;
  width: 240px;
  padding: 16px 0;
  font-size: 16px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background-color: #fb565a;
  border-radius: 3px;
  border: none;
  vertical-align: middle;
  outline: none;
  font-weight: 500px;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button-write-to-us {
  width: 219px;
}

.button-catalog-price {
  font: inherit;
  width: 200px;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color:#ffffff;
  background-color: #fb565a;
  font-style: normal;
  font-weight: 500;
  border:none;
}

.button-catalog-price:hover,
.button-catalog-price:focus {
  background-color: #e74246;
}

.filter-button {
  width: 260px;
  background-color: #eeeeee;
  color: #000000;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.filter-button:hover,
.filter-button:focus {
  background-color: #dfdfdf;
}

.filter-button:active {
  background-color: #dfdfdf;
  color: #959595;
  border-top:3px solid #bfbfbf
}



.main-navigation .current{
  border-bottom: 2px solid #fb565a;
}


.container {
  width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
  box-sizing: border-box;
}





.main-header{
  font-size: 16px;
  line-height: 24px;
  background-color:#eeeeee;
  color:#000000;
  margin-left: auto;
  margin-right: auto;
  padding-top:50px;
}

.main-navigation  {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  background-color:#eeeeee;
  color: #000000;
  text-transform: uppercase;
}

.main-header-logo{
  width: 160px;
  height: 65px;
  margin-right: 200px;
  opacity: 1;
}

.main-header-logo:hover {
  opacity: 0.8;
}

.main-header-logo:active {
  opacity: 0.3;
}

.slider {
  position: relative;
  background-color: #eeeeee;
  margin-bottom: 80px;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;
  width: 160px;
  height: 18px;
  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls label {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  width: 18px;
  height: 18px;
  background: #ffffff;
  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-item {
  display: none;
  padding: 78px 0 80px 0;
  width: 1200px;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide-1.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide-2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide-3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;

  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}



.site-navigation{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;

  width: 440px;
  padding-right: 47px;
  list-style: none;
}

.site-navigation a,
.main-busket a {
  display: block;
  color: #000000;
  padding-right: 44px;
  vertical-align: middle;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 500;
}

.main-busket{
  display: flex;
  font: inherit;
  color:#000000;
  border: none;
  font-size: 16px;
  line-height: 24px;
  list-style: none;
  max-width: 180px;
}

.main-busket .busket-link{
  position: relative;
  padding-left: 80px;
}

.busket-link::before {
  content: "";
  position: absolute;
  left:45px;
  width:17px ;
  height:17px ;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.busket-link:hover::before {
  color: #fb565a;
}

.busket-link:focus::before{
  color: #a6a6a6;
}

.site-navigation a:hover,
.site-navigation a:focus,
.main-busket a:hover,
.main-busket a:focus {
  color: #fb565a;
}

.feature-item {
  width:300px;
  list-style: none;
  text-align: left;
  background-color: rgba(255, 45, 82, 0.2);
  box-shadow: 0 0 0 3px rgba(255, 45, 82);
}

.feature-item h3 {
  font-size: 24px;
  line-height: 30px;
  font-style: normal;
  font-weight: 700;
  color:#000000;
  text-align: left;
  margin: 0;
  margin-top:30px;
  text-transform: uppercase;
  background: rgba(255, 45, 82, 0.2);
}

.feature-item-pic{
  margin: 0;
  margin-bottom: 30px;
}

.feature-item p {
  font-size: 16px;
  line-height: 24px;
  text-transform: none;
  color:#283136;
  font-style: normal;
  font-weight: 400;
  text-align: left;
  margin-bottom: 38px;
}


.button1 {
  display: inline-block;
  padding: 17px 39px;
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  border: none;
  margin-bottom: 80px;
  border-radius: 5px;
  color:#ffffff;
  background-color: #fb565a;
}

.button1.disabled,
.button1:disabled{
  cursor: default;
  background-color: #e74246;
}

.button1:hover,
.button1:focus {
  background-color: #e74246;
}

.button2 {
  display: inline-block;
  padding: 17px 39px;
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  border: none;
  margin-bottom: 80px;
  border-radius: 5px;
  color:#ffffff;
  background-color: #00ca74;
}

.button2:hover,
.button2:focus {
  background-color: #00bc6c;
}

.button3 {
  display: inline-block;
  padding: 17px 39px;
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  border: none;
  margin-bottom: 80px;
  border-radius: 5px;
  color:#ffffff;
  background-color: #efc84a;
}

.button3:hover,
.button3:focus {
  background-color: #eab534;
}

.button4 a:hover,
.button4 a:focus {
  color: #e74246;
}

.index-title {
  font-size: 55px;
  line-height: 55px;
  font-style: normal;
  font-weight: 500;
  text-transform: none;
  text-align: left;
}
.index-title-info{
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  font-weight: 500;
  color:#283136;
  text-transform: none;
  text-align: left;
}

.main-footer {
  color: #000000;
  background-color: #ffffff;
}

.footer-social   {
  font-size: 36px;
  line-height: 36px;
  text-transform: none;
  color:#000000;
  text-align: left;
  font-style: normal;
  font-weight: 700;
  text-align: center;
}

.footer-social p {
  font-size: 16px;
  line-height: 22px;
  text-transform: none;
  color:#444444;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  text-align: center;
}

.footer-social ul {
  list-style: none;
}

.social-button  {
  background-color: #e1e1e1;
  text-align: center;
}

/* Страница каталога*/

.catalog-title {
  font-size: 55px;
  line-height: 55px;
  text-transform: none;
  text-align: center;
  color:#000000;
  background-color: #eeeeee;
  margin: 0;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 117px;
}


.filter-item {
  margin: 0;
  padding: 0;
  border: none;
  margin-bottom: 55px;
}

.filter-options-title {
  font: 700 18px/30px "Roboto", "Arial", sans-serif;
  padding: 0;
  margin: 0;
}

.filter-options-list{
  margin: 0;
  padding: 0;
  margin-top: 16px;
   list-style: none;

}

.range-filter {
  width: 260px;
  margin-top: 48px;
}

.filter legend {
  font-size: 18px;
  line-height: 30px;
  text-align: left;
  color: #000000;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 13px;
  padding-top: 39px;
  padding-right: 0px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 29px;
  left: 0;
  width: 2px;
  height: 2px;
  padding: 2px;
  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 8px;
font: 400 16px/22px "Roboto", "Arial", sans-serif;

  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
  outline:none;
}

.max-price {
  text-align: right;
}

.filter-options {
  margin: 0;
  padding: 0;
}

.net legend {
  font-size: 18px;
  line-height: 30px;
  text-align: left;
  color: #000000;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
}

fieldset{
  border: none;
}

.catalog-wrapper {
  width: 1160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  justify-content: space-between;
  margin-bottom: 60px;
}

.sorting {
  display: flex;
  flex-wrap: wrap;
  text-transform: none;
}

.sorting-item{
  text-transform: none;
  list-style: none;
  padding-left: 24px;
}



.filter-features {
  font-size: 16px;
  line-height: 20px;
  text-transform: none;
  color:#283136;
  list-style: none;
  text-align: left;
  font-style: normal;
  font-weight: 400;
}
.features legend {
  font-size: 18px;
  line-height: 30px;
  text-align: left;
  color: #000000;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
}

.filter-button-button {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  color:#000000;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  border: none;
  background-color: #eeeeee;
  font-weight: bold;
}

.filter-button-button:hover,
.filter-button-button:focus {
  background-color: #dfdfdf;
}

.inner-sorting {
  font-size: 18px;
  line-height: 18px;
  color:#000000;
  text-align: left;
  font-style: normal;
  font-weight: 500;
}

.catalog-item {
  list-style: none;
}

.catalog-item-name {
  font-size: 18px;
  line-height: 30px;
  color:#000000;
  font-style: normal;
  font-weight: 700;
  text-align: center;
}

.catalog-item-info{
  font-size: 16px;
  line-height: 18px;
  color:#666666;
  font-style: normal;
  font-weight: 400;
  text-transform: none;
  text-align: center;
}



.catalog-item-discription{
  display: none;
  position: absolute;
  bottom:0;
  background-color: #eeeeee;
  width: 100%;
}

.catalog-item:hover .catalog-item-discription{
  display: block;
}

/* Cеточные стили-index*/
.main-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-navigation{
  display: flex;
  margin:0;
  padding: 0;
  width:660px;
  justify-content: space-between;
}

.main-busket{
  margin:0;
  padding: 0;
  width:160px;
}

.features-list{
  display: flex;
  margin:0;
  padding: 0;
  justify-content: space-between;
}

.feature-item{
  margin: 0;
  padding: 0;
  min-height: 350px;
  width: 300px;
}

.container-description {
  display: flex;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
  margin-top: 123px;
  margin-bottom: 76px;
}

.studio-design{
  width: 660px;
  margin-right: 140px;
}

.about-us-description{
  margin: 0;
  margin-top: 80px;
  margin-bottom: 35px;
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  text-transform: none;
  color: #000000;
}

.principles{
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 47px;
  line-height: 24px;
  text-transform: none;
  color: #283136;
}

.orders {
  font-size: 16px;
  line-height: 18px;
  color:#000000;
  text-transform: uppercase;
}




.nerds-accuracy {
  width: 360px;
}
/* Cеточные стили-catalog*/
.main-navigation-catalog{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
}



.filter{
  width: 260px;

}


.catalog-columns{
  margin: 0;
  padding: 0;
  width: 260px;
  margin-top: 2px;
  margin-left: 1px;
  margin-right: 140px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.catalog-item-image{
  margin: 0;
  font-size: 0;
}

.catalog-item{
  width: 360px;
  text-align: center;
  position: relative;
  margin-bottom: 25px;
  padding-top: 41px;
  margin-right: 40px;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-item::before {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  z-index: 1;
  top: 1px;
  left: 1px;
  content: "";
  width: 358px;
  height: 41px;
  background-color: #e9e9e9;
  border-radius: 5px 5px 0px 0px;
}

.catalog-item:hover::before,
.catalog-item:focus::before {
  background-color: #4d4d4d;
}

.catalog-item::after {
  position: absolute;
  z-index: 2;
  content: "";
  width: 14px;
  height: 14px;
  background-color: #ffffff;
  border-radius: 50%;
  top: 0;
  left: 15px;
  margin-top: 13px;
  -webkit-box-shadow:
  23px 0px 0px 0px #ffffff,
  46px 0px 0px 0px #ffffff;
  box-shadow:
  23px 0px 0px 0px #ffffff,
  46px 0px 0px 0px #ffffff;
}
.website-templates{
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  width: 760px;
 margin-bottom: 29px;
 margin-top: 49px;
  list-style: none;
}

.button-catalog-price{
  display: inline-block;
  width: 200px;
  padding: 17px 39px;
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  border: none;
  margin-bottom: 80px;
  border-radius: 5px;
  color:#ffffff;
  background-color: #fb565a;
}

.pagination-list  {
  display: flex;
  flex-wrap: wrap;

  padding: 0;
  margin: 0;

  list-style: none;
}

.pagination-item {
  margin-right: 5px;
  min-width: 50px;
  height:50px;
  margin-bottom: 60px;
}

.pagination-item:last-child {
  margin-right: 0;
}


.pagination-item a {
  display: block;
  padding: 16px 19px;
  border-radius: 3px;
  color: #000000;
  background-color: #eeeeee;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: #dfdfdf;
}

.pagination-item a:active {
  background-color: #dfdfdf;
  color: #959595;
  border-top:3px solid #bfbfbf
}

.pagination-item-current a {
  color: #000000;
  border: 3px solid #dbdbdb;
  background-color: #ffffff;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: #000000;

  background-color: #ffffff;
}
.filters {
  margin: 0;
    padding: 0;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 50px;

  border: none;
}

.filter legend {
  margin-bottom: 20px;

  font-size: 16px;
  line-height: 20px;
}

.filter fieldset:first-child {
  margin-bottom: 35px;
}

.filter ul {
  padding: 0;
  margin: 0;

  list-style: none;
}

.filter-option {
  font: 400 16px/20px "Roboto", "Arial", sans-serif;
 color: #283136;
 text-transform: none;
 margin-bottom: 20px;
 padding: 0;
  box-shadow: 0 0 0 3px green;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  padding-left: 35px;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  background-repeat: no-repeat;
  opacity: 0.4;
  left: 0;
  top: -2px;
  background-image: url("../img/checkbox-off.svg");
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  background-repeat: no-repeat;
  opacity: 0.4;
  background-image: url("../img/checkbox-on.svg");
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  border: 4px solid #4d4d4d;
  border-radius: 50%;
  opacity: 0.4;
  left: -1px;
  top: -3px;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #4d4d4d;
  border-radius: 50%;
  opacity: 0.4;
  left: 8px;
  top: 6px;
}

.filter-input-radio,
.filter-input-checkbox {
  opacity: 0.4;
}

.filter-input-radio:hover + label::after,
.filter-input-radio:focus + label::after,
.filter-input-radio:hover + label::before,
.filter-input-radio:focus + label::before,
.filter-input-checkbox:checked:hover + label::before,
.filter-input-checkbox:checked:focus + label::before,
.filter-input-checkbox:hover + label::before,
.filter-input-checkbox:focus + label::before {
  opacity: 1;
}

.filter-input:disabled + .filter-input-label,
.filter-input:checked:disabled + .filter-input-label {
  opacity: 0.3;
}

.filter-options-properties {
  margin-bottom: 28px;
}

.main-column {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sort-type {
  display: flex;
  align-items: flex-start;
  padding: 0;
  margin: 0;
}
.sort-wrapper {
  display: flex;
  justify-content: space-between;
  width: 698px;
}

.sort-type-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 7px 0px 0px;
  list-style: none;
}

.sort-type-item {
  margin-right: 26px;
}

.sort-type-list a {
  font: 400 14px/18px "Roboto", "Arial", sans-serif;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  opacity: 0.3;
}

.sort-type-item .current {
  color: #000000;
  opacity: 1;
}

.sort-type-list a:hover,
.sort-type-list a:focus {
  opacity: 0.6;
}

.sort-type-list a:active {
  opacity: 1;
}

/* Cеточные стили-modal*/
.modal {
  position: fixed;
  color: #000000;
  background-color:#ffffff;
}

.modal-letter{
  width: 961px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 84px;
  padding-top: 72px;
  outline: 5px solid red;
  bottom: 180px;
  left: 50%;
  margin-left: -720px;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  display: none;

}

.modal-close{
  position: absolute;
  top:78px;
  right: 90px;
  width: 22px;
  height: 22px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.modal-close::before,
.modal-close::after{
  content: "";
  position: absolute;
  top: 10px;
  left:2px;
  width: 19px;
  height: 3px;
  background-color:#fecccd;
}

.modal-close::before{
  transform: rotate(45deg);
}

.modal-close::after{
  transform: rotate(-45deg);
}

.modal .modal-button{
  width: 260px;
  margin-top: 48px;
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  border: none;
  margin-bottom: 80px;
  border-radius: 5px;
  color:#ffffff;
  background-color: #fb565a;
  padding-top: 17px;
  padding-bottom: 17px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  border: none;
}

.modal h3 {
  font-size: 45px;
  line-height: 45px;
  text-transform: none;
  margin: 0;
  margin-bottom: 50px;
}

.letter-form{
  display: flex;
  margin: 0;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
}

.letter-form p{
  font-size: 16px;
  line-height: 18px;
  margin: 0;
  margin-bottom: 64px;
  font: inherit;
  color: black;
  text-transform: none;
}

.letter-form input[type="text"],
.letter-form input[type="comment"],
.letter-item {
  font-size: 16px;
  line-height: 18px;
  color: #a1a1a1;
  text-transform: none;
  box-sizing: border-box;
  width: 360px;
  padding: 16px 13px;
}

textarea {
  font-size: 16px;
  line-height: 18px;
  color: #a1a1a1;
  text-transform: none;
  box-sizing: border-box;
  width: 760px;
}

.friendly-company  {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
  min-height: 180px;
  width: 1160px;
}

.container-contacts{
  display: block;
  position: absolute;
  z-index: 10;
  left:20px;
  top:54px;
  width: 319px;
  margin: 0;
  padding: 0;
  padding: 48px 50px ;
  background-color: rgba(255, 0, 0, 0.5);
}

.container-contacts p,
.container-contacts h3{
  margin: 0;
  padding: 0;
}

.location{
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
}

/* Cеточные стили-footer*/
.container-footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
  margin-top: 70px;
  margin-bottom: 70px;
  list-style: none;
}

.footer-social{
  width: 260px;
  margin-right: 140px;
  text-align: center;
}

.footer-social ul{
  display: flex;
  width: 260px;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 79px;
  height: 79px;
  border-radius: 50px;
  background-color: #e1e1e1;
}

.social-button:hover,
.social-button:focus {
  background-color: #e74246;
}

.footer-bonus{
  margin: 0;
  width: 560px;
}



.map {
  padding: 0;
  margin: 0;
  position: relative;
  width: 1200px;
  height: 416px;
  background-image: url("../img/map-marker.jpg");
  background-position:right;
}


/*.map iframe {
display: block;
position: relative;
z-index: 10;
border: none;
}*/
