body {
  margin: 0;
  padding: 0;
  min-width: 1200px;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}

.main-header{
  font-size: 16px;
  line-height: 24px;
  background-color:#eeeeee;
  color:#000000;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-top: 49px;
  padding-bottom: 18px;
}

.main-navigation header {
  font-size: 16px;
  line-height: 30px;
  background-color:#eeeeee;
}

.main-header-logo{
  width: 160px;
  height: 65px;
  margin-right: 200px;
}

.slider {
  position: relative;
  background-color: #eeeeee;
  margin-bottom: 80px;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;

  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls label {
  position: relative;

  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;

  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";

  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;

  width: 18px;
  height: 18px;

  background: #ffffff;

  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-item {
  display: none;
  padding: 78px 0 80px 0;
  width: 1200px;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide-1.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide-2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide-3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;

  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}

.button {
  display: block;
  width: 240px;
  padding: 13px 0;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}



.site-navigation{
  display: flex;
  flex-wrap: wrap;
  padding-right: 40px;
  list-style: none;
}

.site-navigation a,
.main-busket a {
  display: block;
  color: #000000;
  padding-right: 44px;
  vertical-align: middle;
}

.main-busket{
  display: flex;
  font: inherit;
  color:#000000;
  border: none;
  font-size: 16px;
  line-height: 24px;
  list-style: none;
  max-width: 180px;
}

.main-busket .busket-link{
  position: relative;
  padding-left: 80px;
}

.busket-link::before {
  content: "";
  position: absolute;
  left:45px;
  width:17px ;
  height:17px ;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.busket-link:hover::before {
  color: #fb565a;
}

.busket-link:focus::before{
  color: #a6a6a6;
}

.busket-link:active::before{
  border-bottom:#fb565a
}

.site-navigation a:hover,
.site-navigation a:focus,
.main-busket a:hover,
.main-busket a:focus {
  color: #fb565a;
}




.feature-item {
  width:300px;
  list-style: none;
  text-align: left;

  background-color: rgba(255, 45, 82, 0.2);
  box-shadow: 0 0 0 3px rgba(255, 45, 82);
}

.feature-item h3 {
  font-size: 24px;
  line-height: 30px;
  font-style: normal;
  font-weight: 700;
  color:#000000;
  text-align: left;
  margin: 0;
  margin-top:30px;

  background: rgba(255, 45, 82, 0.2);
}

.feature-item-pic{
  margin: 0;
  margin-bottom: 30px;
}

.feature-item p {
  font-size: 16px;
  line-height: 24px;
  text-transform: none;
  color:#283136;
  font-style: normal;
  font-weight: 400;
  text-align: left;
  margin-bottom: 38px;
}


.button1 {
  display: inline-block;
  padding: 17px 39px;
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  border: none;
  margin-bottom: 80px;
  border-radius: 5px;
  color:#ffffff;
  background-color: #fb565a;
}

.button1.disabled,
.button1:disabled{
  cursor: default;
  background-color: #e74246;
}

.button1:hover,
.button1:focus {
  background-color: #e74246;
}

.button1:active {
  background-color: #d7373b;
  color: #e37376;
  border-top: #c13135;
}

.button2 {
  display: inline-block;
  padding: 17px 39px;
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  border: none;
  margin-bottom: 80px;
  border-radius: 5px;
  color:#ffffff;
  background-color: #00ca74;
}

.button2:hover,
.button2:focus {
  background-color: #00bc6c;
}

.button2:active {
  background-color: #00aa62;
  color: #4dc491;
  border-top: #009958;
}

.button3 {
  display: inline-block;
  padding: 17px 39px;
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  border: none;
  margin-bottom: 80px;
  border-radius: 5px;
  color:#ffffff;
  background-color: #efc84a;
}


.button3:hover,
.button3:focus {
  background-color: #eab534;
}

.button3:active {
  background-color: #e5a722;
  color: #edc265;
  border-top: #ce961f;
}

.button4 a:hover,
.button4 a:focus,
.button4 a:active {
  color: #e74246;
}

.index-title {
  font-size: 55px;
  line-height: 55px;
  font-style: normal;
  font-weight: 500;
  text-transform: none;
  text-align: left;
}
.index-title-info{
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  font-weight: 500;
  color:#283136;
  text-transform: none;
  text-align: left;
}

.main-footer {
  color: #000000;
  background-color: #ffffff;
}


.footer-social   {
  font-size: 36px;
  line-height: 36px;
  text-transform: none;
  color:#000000;
  text-align: left;
  font-style: normal;
  font-weight: 700;
  text-align: center;
}

.footer-social p {
  font-size: 16px;
  line-height: 22px;
  text-transform: none;
  color:#444444;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  text-align: center;
}

.footer-social ul {
  list-style: none;
}

.social-button  {
  background-color: #e1e1e1;
  text-align: center;
}

/* Страница каталога*/

.catalog-title {
  font-size: 55px;
  line-height: 55px;
  text-transform: none;
  text-align: center;
  color:#000000;
  font-weight: bold;
  background-color: #eeeeee;
  padding-bottom: 116px;
}

.filter-item {
  margin: 0;
  padding: 0;

  border: none;

  /* Для демонстрации */
  width: 260px;
  margin: 50px auto;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;

  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: #f1f1f1;

  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 50px;
}

.range-controls .toggle-max {
  left: 110px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;

  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;

  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;

  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}


.net legend {
  font-family: "Roboto";
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-align: left;
  color: #000000;
}

fieldset{
  border: none;
}

.sorting {
  display: flex;
  flex-wrap: wrap;
  text-transform: none;
}

.sorting-item{
  text-transform: none;
  list-style: none;
  padding-left: 24px;
}


.filter-net {
  font-size: 16px;
  line-height: 20px;
  text-transform: none;
  color:#283136;
  list-style: none;
  text-align: left;
  font-style: normal;
  font-weight: 400;
}

.filter-features {
  font-size: 16px;
  line-height: 20px;
  text-transform: none;
  color:#283136;
  list-style: none;
  text-align: left;
  font-style: normal;
  font-weight: 400;
}
.filter-button-button {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  color:#000000;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  border: none;
  background-color: #eeeeee;
  font-weight: bold;
}

.filter-button-button:hover,
.filter-button-button:focus {
  background-color: #dfdfdf;
}

.inner-sorting {
  font-size: 18px;
  line-height: 18px;
  color:#000000;
  text-align: left;
  font-style: normal;
  font-weight: 500;
}

.catalog-item {
  list-style: none;
}

.catalog-item-name {
  font-size: 18px;
  line-height: 30px;
  color:#000000;
  font-style: normal;
  font-weight: 700;
  text-align: center;
}

.catalog-item-info{
  font-size: 16px;
  line-height: 18px;
  color:#666666;
  font-style: normal;
  font-weight: 400;
  text-transform: none;
  text-align: center;
}

.button-catalog-price {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color:#ffffff;
  background-color: #fb565a;
  font-style: normal;
  font-weight: 500;
  border:none;
}

.button-catalog-price:hover,
.button-catalog-price:focus {
  background-color: #e74246;
}

.catalog-item-discription{
  display: none;
  position: absolute;
  bottom:0;
  background-color: #eeeeee;
  width: 100%;
}

.catalog-item:hover .catalog-item-discription{
  display: block;
}

/* Cеточные стили-index*/
.main-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-navigation{
  display: flex;
  margin:0;
  padding: 0;
  width:660px;
  justify-content: space-between;
}

.main-busket{
  margin:0;
  padding: 0;
  width:160px;
}


.features-list{
  display: flex;
  margin:0;
  padding: 0;
  justify-content: space-between;

}

.feature-item{
  margin: 0;
  padding: 0;
  min-height: 350px;
  width: 300px;
}

/* Cеточные стили-catalog*/
.main-navigation-catalog{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
}

.catalog-title{
  align-items: center;
  padding-bottom: 115px;
  padding: 0;
  margin: 0;
}

.filter{
  width: 260px;
  /* времено*/
  min-height: 815px;
}

.catalog-catalog{

  /* времено*/
  min-height: 1915px;
}

.catalog-columns{
  display: flex;
  justify-content: space-between;
}

.catalog-item-image{
  margin: 0;
  font-size: 0;
}

.catalog-item{
  width: 360px;
  margin-bottom: 33px;
  margin-right: 40px;
  /* времено*/
  min-height: 617px;
  position: relative;
}

.website-templates{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  margin-bottom: 60px;

  list-style: none;
}

.button-catalog-price{
  display: inline-block;
  width: 200px;
  padding: 17px 39px;
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  border: none;
  margin-bottom: 80px;
  border-radius: 5px;
  color:#ffffff;
  background-color: #fb565a;
}

.paginator {
  height: 50px;
  width: 443px;
  white-space: nowrap;
  margin-bottom: 60px;
}

.paginator a {
  display: inline-block;
  min-width: 50px;
  font: inherit;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 19px;
  padding-right: 20px;
  color: black;
  text-decoration: none;
  background-color: #eeeeee;
  margin-right: 11px;
  line-height: 18px;
  font-size:16px;
  font-style: normal;
  font-weight: 500;
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
}

.paginator .next {
  width: 260px;
  padding-left: 80px;
  padding-right: 80px;
  vertical-align: middle;
  text-align: center;
}

.paginator .current {
  background-color: #ffffff;
  border: 3px solid #dbdbdb;
}

.paginator a:hover {
  background-color: #dfdfdf;
}
.paginator a:active {
  background-color: #d5d5d5;
  color: #959595;
  border-top: 3px solid #bfbfbf;
}

.filter-slider {
  position: relative;
  padding-left: 30px;
  cursor:pointer;
}
.filter-slider:hover,
.filter-slider:focus{
  color: #663d15;
}

.filter-slider input[type="checkbox"]+.checkbox-indicator{

  position: absolute;
  top:0;
  left:0;
  width: 23px;
  height: 23px;

  border: 2px solid #a6a6a6;
}
.filter-slider input[type="checkbox"]:focus+.checkbox-indicator{
  border-color: #4d4d4d;
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}
.filter-slider input[type="checkbox"]:checked+.checkbox-indicator::before,
.filter-slider input[type="checkbox"]:checked+.checkbox-indicator::after{
  content: "";
  position: absolute;
  top:8px;
  left: 1px;

  width: 15px;
  height: 2px;

  background-color: #000000;

}

.filter-slider input[type="checkbox"]:checked+.checkbox-indicator::before{
  transform: rotate(45deg);
}

.filter-slider input[type="checkbox"]:checked+.checkbox-indicator::after{
  transform: rotate(45deg);
}



/* Cеточные стили-modal*/
.modal {
  position: fixed;
  color: #000000;
  background-color:#ffffff;
}

.modal-letter{
  width: 961px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 84px;
  padding-top: 72px;
  outline: 5px solid red;
  bottom: 180px;
  left: 50%;
  margin-left: -720px;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  display: none;
}

.modal-close{
  position: absolute;
  top:78px;
  right: 90px;
  width: 22px;
  height: 22px;
  font-size: 0;

  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.modal-close::before,
.modal-close::after{
  content: "";
  position: absolute;
  top: 10px;
  left:2px;
  width: 19px;
  height: 3px;
  background-color:#fecccd;
}

.modal-close::before{
  transform: rotate(45deg);
}

.modal-close::after{
  transform: rotate(-45deg);
}

.modal .modal-button{
  width: 260px;
  margin-top: 48px;
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  border: none;
  margin-bottom: 80px;
  border-radius: 5px;
  color:#ffffff;
  background-color: #fb565a;
  padding-top: 17px;
  padding-bottom: 17px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  border: none;
}

.modal h3 {
  font-size: 45px;
  line-height: 45px;
  text-transform: none;
  margin: 0;
  margin-bottom: 50px;
}

.letter-form{
  display: flex;
  margin: 0;
  flex-wrap: wrap;
  padding: 0;


  list-style: none;

}

.letter-form p{
  font-size: 16px;
  line-height: 18px;
  margin: 0;
  margin-bottom: 64px;
  font: inherit;
  color: black;
  text-transform: none;
}

.letter-form input[type="text"],
.letter-form input[type="comment"],
.letter-item {
  font-size: 16px;
  line-height: 18px;
  color: #a1a1a1;
  text-transform: none;
  box-sizing: border-box;
  width: 360px;
  padding: 16px 13px;
}

textarea {
  font-size: 16px;
  line-height: 18px;
  color: #a1a1a1;
  text-transform: none;
  box-sizing: border-box;
  width: 760px;
}

.friendly-company  {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
  min-height: 180px;
  width: 1160px;
}

/* Cеточные стили-footer*/
.container-footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
  margin-top: 70px;
  margin-bottom: 70px;

  list-style: none;
}

.footer-social{
  width: 260px;
  margin-right: 140px;
  text-align: center;
}

.footer-social ul{
  display: flex;
  width: 260px;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 79px;
  height: 79px;
  border-radius: 50px;

  background-color: #e1e1e1;
}

.social-button:hover,
.social-button:focus {
  background-color: #e74246;
}

.footer-bonus{
  margin: 0;
  width: 560px;
}
